img#dona {
    width: 90px;
    transform: rotate(-20deg);
}

.wave {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-color: #d6d2e7 !important;
}

.wave nav #primary-menu li a:hover,
.wave nav #primary-menu li.current-menu-item>a {
    color: #fff !important;
}

/*  mobils  */
@media screen and (max-width: 768px) {
    img#dona {
        width: 45px;
        transform: rotate(-20deg);
        position: absolute;
        top: 0px;
    }

    .wave nav #primary-menu li a:hover,
    .wave nav #primary-menu li.current-menu-item>a {
        color: #888 !important;
    }
}

/* cabecera es fa menuda menos en tablets i mobils */
@media (min-width: 992px) {
    img#dona.resize {
        transform: scale(0.7) rotate(-20deg);
    }
}